* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/assets/full_lab.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  height: 220px;
  width: 400px;
  margin-bottom: -100px;
  opacity: 0.8;
}

.logo {
  text-align: center;
}

p {
  font-size: 24px;
}

h2 {
  font-family: "Raleway Dots", sans-serif;
  font-weight: bold;
  color: salmon;
}

.game-board {
  width: 1010px;
  border-radius: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 1;
  right: 1;
}

.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 780px;
  width: 1200px;
  background-color: rgba(54, 202, 172, 0.502);

  margin-top: -130px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.corridor {
  background-image: url("/assets/lab_corridor.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.assassin {
  background-image: url("/assets/fire_assassin.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

.warden {
  background-image: url("/assets/warden.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}

/* characters */
.grid div.charOne {
  background-image: url("/assets/Mini-me.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.stan-lee {
  background-image: url("/assets/stan_lee_police.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.car {
  background-image: url("/assets/police_car.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-position: center;
}

.grid div.drone {
  background-image: url("/assets/security_drone.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.cop {
  background-image: url("/assets/scary_cop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.wolf {
  background-image: url("/assets/cyber_wolf.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.popUpInner {
  height: 700px;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgb(12, 123, 133);
  border-radius: 20px;
  color: white;
  background-image: url("/assets/lab.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -120px;
  padding: 30px;
}

.keyboard-arrows {
  height: 6em;
  width: 13em;
}

.gameOver.popUpInner {
  box-shadow: 0 0 10px 0 rgb(8, 188, 122);
  height: 700px;
  width: 1150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.popUp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1;
  right: 1;
  margin-top: 280px;
  margin-left: 30px;
  height: 750px;
  transition: all 350ms;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  opacity: 0;
  pointer-events: none;
}

.popUp.active {
  opacity: 1;
  pointer-events: auto;
  position: fixed;
  top: 0;
  bottom: 1;
  left: 1;
  right: 1;
}

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOverGIF {
  height: 300px;
}

button {
  width: 125px;
  height: 65px;
  background-color: hsl(94, 79%, 67%);
  border: none;
  margin-top: 35px;
  box-shadow: 0 0 20px 0 rgb(197, 234, 248);
  border-radius: 20px;
  font-family: "Raleway Dots", sans-serif;
  font-size: 25px;
  outline: 0 none;
}

.starterButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start.restart {
  width: 240px;
  height: 65px;
  background-color: hsl(291, 69%, 59%);
  border: none;
  box-shadow: 0 0 20px 0 rgb(217, 108, 36);
  border-radius: 20px;
  font-family: "Raleway Dots", sans-serif;
  font-size: 25px;
  color: hsl(204, 11%, 91%);
  margin-bottom: 160px;
}
